*{
    color: black;
    font-size: 18px;
}
body{
    background-color: white;
    display: flex;

}
body div{
    padding: 0 34px;
    
}
body div a{
    text-decoration: none;
    margin-right: 10px;
    
   
}
.genretwo a{
    text-align: center;

}

div a:hover{
    color: darkorange;
}



