body{
    font-size: 14.5px;
    display: contents;  
}
body div a{
    text-decoration: none;
}
body .one{
    margin-top: 110.5px;
}
body .one a{
    color: gold;
    
}
body .one a:hover{
    color: white;
}
body p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
body .onegen{
    margin-top: 0px;
}
body .onegen a{
    color: lightslategray;
    margin-top: px;

}
body a:hover{
    color: gold;




    
}
body .two{
    margin-top: 14.5px;

}
body .two a{
    color: gold;   
}
body .two a:hover{
    color: white;
}

body .twogen a{
    color: lightslategray;
}
body a:hover{
    color: gold;
}




body .three{
    margin-top: 17.5px;

}
body .three a{
    color: gold;
    
}
body .three a:hover{
    color: white;
}
body .threegen{
    margin-top: 0px;
}
body .threegen a{
    color: lightslategray;
    margin-top: px;

}
body a:hover{
    color: gold;
}






body .four{
    margin-top: 15.5px;


}
body .four a{
    color: gold;
    
}
body .four a:hover{
    color: white;
}
body .fourgen{
    margin-top: 0px;
}
body .fourgen a{
    color: lightslategray;


}
body a:hover{
    color: gold;
}



body .five{
    margin-top: 25.5px;
 
}
body .five a{
    color: gold;
    
}
body .five a:hover{
    color: white;
}
body .fivegen{
    margin-top: 0px;
}
body .fivegen a{
    color: lightslategray;


}
body a:hover{
    color: gold;
}





body .six{
    margin-top: 17.5px;
}
body .six a{
    color: gold;
    
}
body .six a:hover{
    color: white;
}
body p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
body .sixgen{
    margin-top: 0px;
}
body .sixgen a{
    color: lightslategray;
    margin-top: px;

}
body a:hover{
    color: gold;
}





body .seven{
    margin-top: 11.5px;
}
body .seven a{
    color: gold;
    
}
body .seven a:hover{
    color: white;
}
body p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
body .sevengen{
    margin-top: 0px;
}
body .sevengen a{
    color: lightslategray;
    margin-top: px;

}
body a:hover{
    color: gold;
}





body .eight{
    margin-top: 23.5px;
}
body .eight a{
    color: gold;
    
}
body .eight a:hover{
    color: white;
}
body p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
body .eightgen{
    margin-top: 0px;
}
body .eightgen a{
    color: lightslategray;
    margin-top: px;

}
body a:hover{
    color: gold;
}




body .nine{
    margin-top: 14.5px;
}
body .nine a{
    color: gold;
    
}
body .nine a:hover{
    color: white;
}
body p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
body .ninegen{
    margin-top: 0px;
}
body .ninegen a{
    color: lightslategray;
    margin-top: px;

}
body a:hover{
    color: gold;
}



body .ten{
    margin-top: 24.5px;
}
body .ten a{
    color: gold;
    
}
body .ten a:hover{
    color: white;
}
body p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
body .tengen{
    margin-top: 0px;
}
body .tengen a{
    color: lightslategray;
    margin-top: px;

}
body a:hover{
    color: gold;
}



